<section id="how" class="home">
  <h3>How does it work?</h3>
  <p>One of KITF's goals is to maintain an incredibly simple and pleasant user experience. As such, the KITF workflow is broken down into three steps:</p>
  <ol>
    <li>Ask parents for patient weight (in lbs).</li>
    <li>Enter the patient weight (in lbs).</li>
    <li>Filter information based on complaint.</li>
  </ol>
  <p>In addition to raw reference material, KITF will do things like calculate drug dosages, determine the patient's reference color, and give you access to external resources via phone.</p>
</section>
