<section id="mission" class="home">
  <h3>It is our mission to provide:</h3>
  <div class="feature-container">
    <div class="feature">
      <i class="fa fa-heartbeat fa-3x"></i>
      <p>Super simple controls</p>
    </div>
    <div class="feature">
      <i class="fa fa-book fa-3x"></i>
      <p>High quality content</p>
    </div>
    <div class="feature">
      <i class="fa fa-user-md fa-3x"></i>
      <p>Easy external comms</p>
    </div>
  </div>
</section>
