<section id="intro" class="home">
  <h3>Who is developing KITF?</h3>
  <p>KITF was designed and developed by <a href="http://samlachance.com">Sam Lachance</a>.</p>
  <p>KITF is an ongoing effort. If you're interested in getting involved, please visit our <a href="/contribute">contribute</a> page.</p>
</section>
