<!-- /*<style>body {background-color: #<%= ["E91E63", "fb4f4f", "673AB7", "fbc93d", "6cc0e5", "FF5722", "4CAF50"].sample %>;}</style>*/ -->
<section id="intro" class="home">
  <h3>What is Kids in the field?</h3>
  <p>KITF is an app for pediatric care that is designed to make Paramedics and EMTs happy</p>
</section>
<section id="mission" class="home">
  <h3>It is our mission to provide:</h3>
  <div class="feature-container">
    <div class="feature">
      <i class="fa fa-heartbeat fa-3x"></i>
      <p>Super simple controls</p>
    </div>
    <div class="feature">
      <i class="fa fa-book fa-3x"></i>
      <p>High quality content</p>
    </div>
    <div class="feature">
      <i class="fa fa-user-md fa-3x"></i>
      <p>Excellent comms</p>
    </div>
  </div>
</section>
<section class="home">
  <h3>Kids in the field uses cards</h3>
  <p>You're reading one right now!</p>
  <p>We use cards to seperate information into useful chunks.</p>
</section>
<section id="call-to-action" class="home">
  <h3>Go ahead. Give it a spin!</h3>
  <i class="fa fa-arrow-down fa-4x"></i>
</section>

<%= erb :_help_button %>
