// Colors
$black: #202020;
$white: #F8F8F8;
$gray: #787878;
$light-gray: #E0E0E0;
$dark-gray: #484848;

$primary: #E0E0E0;

$pink: #E91E63;
$red: #fb4f4f;
$purple: #673AB7;
$yellow: #fbc93d;
$blue: #6cc0e5;
$orange: #FF5722;
$green: #4CAF50;

// Typefaces
$logo: 'Nunito', sans-serif;
$text: 'Lato', sans-serif;