// Testing for patient_page view

// Colors
$black: #202020;
$white: #F8F8F8;
$gray: #787878;
$light-gray: #E0E0E0;
$dark-gray: #484848;

$primary: #E0E0E0;

$pink: #E91E63;
$red: #fb4f4f;
$purple: #673AB7;
$yellow: #fbc93d;
$blue: #6cc0e5;
$orange: #FF5722;
$green: #4CAF50;










// Typefaces
$logo: 'Montserrat', sans-serif;
$text: 'Lato', sans-serif;


@import "bourbon";
@import "neat";

 body {
  color: $black;
  padding: 20px;
  margin: 0;
  font-family: $text;
 }

h1 {
  font-family: $logo;
  color: $black;
  text-align: center;
  margin-top: 0;
  background-color: $white;
  padding: 40px;
  box-shadow: 2px 2px 1px $dark-gray;
}

section {
  background-color: $white;
  margin-bottom: 20px;
  width: clac(100% -60px);
  padding: 10px;
  box-shadow: 2px 2px 1px $dark-gray;
  
  h3 {
    margin: 0;
  }

  &#weight {
    text-align: center;

    h4 {
      font-size: 1.5em;
      margin: 10px;
    }

  }

  &#vitals {

    div.vitals-container {
      @include outer-container;
      margin-top: 30px;

      div {
        text-align: center;
        @include span-columns(4);

        h4 {
          margin-top: 0;
        }

        &:first-child {
          border-right: 1px solid black;
        }

        &:last-child {
          border-left: 1px solid black;
        }
      
        &:nth-child(even) {
          border: none;
        }
        
        
        span {
          font-size: 1.2em;
        }
      }
    }
  }
  
  &#call { 

    div.call-container {
      @include outer-container;
      margin-top: 10px;

      a {
        color: $black;
        text-decoration: none;
        text-align: center;
        background-color: $primary;
        padding: 30px 0;
        @include span-columns(4);
        border-radius: 3px;

        i {

          &.fa-hospital-o {
            color: $blue;
          }

          &.fa-plus-square {
            color: $red;
          }

          &.fa-flask {
            color: $green;
          }
        }
      }
    }
  }

  &#drugs {

    table {
      width: 100%;

      td {
        padding: 5px;
      }
      
      td.drug-name {

      }

      td.equation {
        text-align: right;
        font-size: 0.9em;
      }

      td.drug-dose {
        text-align: right;
      }

      tr:nth-child(even) {
        background-color: $light-gray;

        td.equation {
          color: $white;
        }
      }
      tr:nth-child(odd) {
        td.equation {
          color: $light-gray;
        }
      }
    }
  }

  &#conditions {
    
    div.condition-title {
      @include outer-container;
      
      margin: 0;
      margin-top: 10px;
      padding: 20px;

      background-color: $primary;
      border-radius: 3px;
      
      h4 {
        @include span-columns(11);
        margin: 0;
      }

      i.fa {
        @include span-columns(1);
      }

    }

    div {
      height: auto;
    }
  }


  p {
    margin: 0;
  }
  
  h2 {
    margin: 0;
    font-size: 4em;
    font-family: $logo;


    span.weight-unit {
      font-size: 0.4em;
    }
  }
}
